block head
  block title
    title Wiki

  link(rel="stylesheet", href="/css/bootstrap.css")
  link(rel="stylesheet", href="/css/jquery-ui.min.css")
  link(rel="stylesheet", href="/css/jquery-ui-timepicker-addon.css")
  link(rel="stylesheet", href="/css/common.css")

  // jquery
  script(src="/js/jquery-1.10.2.min.js")
  script(src="/js/jquery-ui.min.js")
  script(src="/js/jquery-ui-timepicker-addon.js")
  script(src="/js/jquery.form.min.js")
  // jquery (jade)
  script(src="/js/jade.js")
  script(src="/js/jquery.jade.js")
  // jquery (validate)
  script(src="/js/jquery.validate.min.js")
  script(src="/js/additional-methods.min.js")
  // stapes
  script(src="/js/stapes.min.js")
  // bootstrap
  script(src="/js/bootstrap.js")

  // if lt IE 9
  script(src="/js/html5shiv.js")